In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv("/work/FinalDF.csv")

In [3]:
df

,Unnamed: 0,Brand,Model,Status,Fuel_Type,Transmission,Horse_power,Age,MileagePerYear,Price
0,0,Alfa Romeo,156,occasion,Essence,Manuelle,8.0,24,12500,111110.0
1,1,Alfa Romeo,159,occasion,Diesel,Manuelle,6.0,16,12500,26500.0
2,2,Alfa Romeo,Giulietta,occasion,Essence,Manuelle,7.0,9,18891,38000.0
3,3,Alfa Romeo,Giulietta,occasion,Essence,Automatique,9.0,9,20222,43000.0
4,4,Alfa Romeo,Mito,occasion,Essence,Manuelle,9.0,14,10714,36900.0
...,...,...,...,...,...,...,...,...,...,...
3772,3915,Volvo,S90,neuf,Essence,Automatique,15.0,0,0,273900.0
3773,3916,Volvo,S90,neuf,Essence,Automatique,15.0,0,0,289900.0
3774,3917,Volvo,Xc90,neuf,Essence,Automatique,15.0,0,0,375900.0
3775,3918,Volvo,Xc90,neuf,Essence,Automatique,20.0,0,0,449900.0
3776,3919,Wallyscar,Wolf,neuf,Essence,Automatique,9.0,0,0,119900.0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=9158155e-c82c-4f23-93c0-dcd070a7ff4c' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>